.main_container {
  width: auto;
  height: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(232, 232, 232)
}

.container {
  /* background: lightblue; */
  /* width: 80vw; */
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

