.container {
  display: flex;
  align-items: center;
  margin-top: 8px;
  width: auto;
  height: 32px;
  /* background-color: rgb(255 255 255); */
  border: 0;
  box-shadow: 1.5px 1.5px 3px rgba(174, 174, 192, 0.4), -1px -1px 3px #FFFFFF;
  border-radius: 5px;
  margin: 8px;
}

.container h4 {
  font-weight: 700;
}